@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800);
@import url(http://fonts.googleapis.com/css?family=Just+Another+Hand);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(font-awesome-4.3.0/css/font-awesome.min.css);
/* font-family: 'Just Another Hand', cursive; */
/*
**  Font-family: Lato(Google Fonts)
*/

/* Declaring Variables -------------------*/
$darkPurple: #7B0084;
$lightPurple: #9F20AA;
$xtraLightPurple: #b544bf;
$xtraLightGray: #b544bf;
$lightGray: #e2e2e2;
$lightBlack: #444444;
$darkYellow: #c9bc44;
$lightYellow: #fff9bf;

$fontStack: normal normal normal normal 1em/24px 'Lato', sans-serif;
$borderRadius: 3px;

/* Setting the box sizing -------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Clearfix -------------------------*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Hides Screen Reader text, much better than display: none; or display: hidden; ---- */
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/* Defining background color and all text.
 * Defining global link colors and behavior */
html {
	font-size: 16px;
}

body {
  background: #fff;
  color: #444;
  font: $fontStack;
}

.site { /* For sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a,
a:visited {
  color: $darkPurple;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid $lightPurple;
  color: $lightPurple;
}

a:active,
a:focus {
  box-shadow: 0 0 4px $darkPurple;
  outline: 1px solid $lightPurple;
}

.notice {
  background: $lightYellow;
  border: 1px solid $darkYellow;
  border-radius: $borderRadius;
  font-size: 1em;
  margin-top: 10px;
  padding: 5px 15px;
}

.notice strong {
	padding-right: 5px;
}

.notice p {
	display: inline;
}

.notice-construction {
  background: url(img/caution-stripe.jpg) repeat;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.notice-construction p {
  color: #fff;
  font-weight: 700;
  margin: 0;
  text-shadow: 1px 1px 0 #000;
}

blockquote {
  background: #f9f9f9;
  border-left: 6px solid #e2e2e2;
  padding-left: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

th {
  background: #f9f9f9;
}

/*
  **********  Layout Styles ***********
*/

header {
  background: url(img/stripe-purple-50x200.png) bottom repeat-x $darkPurple;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  overflow: auto; /* Fixes white space on top of page */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  width: 100%;
}

#logo a {
  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  font-size: 1.4em;
  opacity: .8;
  text-decoration: none;
  transition: opacity .2s ease,
              text-shadow .2s ease;
}

#logo a:hover {
  opacity: 1;
  text-shadow: 0 0 7px rgba(0, 0, 0, .7);
}


#nav {
  background: $lightPurple;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  padding: 0 10px;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
}

#nav li a {
  color: #fff;
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  transition: background .2s ease;
}

#nav li a:hover {
  background: $xtraLightPurple;
  border: none;
}


#container {
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 70%;
}

.col-1-3 {
  float: left;
  padding: 10px;
  width: 33.33%;
}

.col-2-3 {
  float: left;
  width: 66.66%;
}

.col-1-2 {
  float: left;
  margin-top: 1em;
  width: 50%;
}

#main article h1 {
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: .3em;
}

#main article {
	border-bottom: 4px solid $lightGray;
	margin-bottom: 20px;
	padding-bottom: 3px;
}


#sidebar {
  border-left: 1px solid $lightGray;
}

#sidebar h3 {
  font-size: 1.5em;
	margin: .5em 0;
}

#sidebar article h3 {
  margin-bottom: 0;
}

#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.archive-title {
  background: #333;
  color: #efefef;
  line-height: 1em;
  margin: 0;
  padding: 30px 20px;
  text-shadow: 1px 1px 0 #000;
}

#index-grid {
  //display: flex;
  //margin-right: .7em;
  //margin-top: 1em;
}

.index-grid--gutters {
  margin: -1em 0 1em -1em;
}

.index-grid--gutters > .index-cell {
  margin: 1em 0 0 1em;
}

.index-cell a {
  background: transparent;
  border: 2px solid #d1d1d1;
  display: block;
  margin-right: 1em;
  min-height: 75px;
  overflow: hidden;
  padding: 10px;
  transition: background .2s ease,
              border .2s ease,
              color .2s ease;
}

.index-cell a:hover {
  background-color: $lightPurple;
  border-color: $lightPurple;
  color: #fff;
}

.index-cell a:active,
.index-cell a:focus {
  background-color: $darkPurple;
  border-color: $darkPurple;
  box-shadow: none; // Removes link glow
  outline: none;
}

.index-cell .fa {
  color: #000;
  float: left;
  font-size: 3em;
  margin-right: 20px;
  opacity: .7;
  transition: color .2s ease;
}

.index-cell img {
  float: left;
  height: 50px;
  margin-right: 20px;
  opacity: .7;
  width: 50px;
}

.index-cell a:hover > .fa {
  color: #fff;
  opacity: 1;
}

.index-cell p {
  font-size: 1.3em;
  font-weight: 800;
  margin: 0;
}

.index-cell span {
  font-size: .9em;
}

.post-date {
  font-size: .9em;
  margin-bottom: 1em;
}


#comments-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-body {
  border-bottom: 2px solid $lightGray;
  margin-bottom: 20px;
}

.comment-author,
.comment-meta {
  display: inline-block;
}

.avatar {
  display: block;
}

.comment-body > p {
  margin: 5px auto;
  margin-left: 20px;
}

.comment-form label {
  display: block;
}


#nav-below,
#nav-above {
  display: flex;
  margin-bottom: 15px;
}

.nav-previous,
.nav-next {
  flex: 1;
  width: 50%;
}

.nav-next {
  text-align: right;
}

.nav-previous a,
.nav-next a {
  background: $darkPurple;
  border: 0;
  border-radius: $borderRadius;
  color: #fff;
  padding: 10px 15px;
}

.nav-previous a {border-top-right-radius: 0; border-bottom-right-radius: 0;}
.nav-next a {border-top-left-radius: 0; border-bottom-left-radius: 0;}

.nav-previous a:hover,
.nav-next a:hover {
  background: linear-gradient(to right, $lightPurple 50%,$darkPurple 100%);
}

.nav-previous a:focus,
.nav-next a:focus {
  box-shadow: inset 0px 3px 0 #64006d;
  outline: none;
}


.widget-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget-container li {
  border-bottom: 1px solid $lightGray;
  padding: 10px 0;
}


footer {
  background: linear-gradient(to bottom, #f4f4f4 0%,#e2e2e2 100%);
  border-top: 1px solid $lightGray;
  color: #444;
  padding: 10px 0;
  width: 100%;
}

footer p {
	display: inline;
}

footer span {
	float: right;
}


input[type=text],
textarea {
  border: 1px solid #bbb;
  border-top-color: #aaa;
  border-radius: $borderRadius;
  color: #444;
  padding: 3px 5px;
}

input[type=text]:focus,
textarea:focus {
  border-color: $darkPurple;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, .05),
              0 2px 2px rgba(0, 0, 0, .1);
  outline: none;
}

input[type=submit],
.btn {
  background: transparent;
  border: 2px solid $darkPurple;
  border-radius: $borderRadius;
  color: $darkPurple;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 30px;
}

input[type=submit]:hover,
.btn:hover {
  border-color: $lightPurple;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, .15);
  color: $lightPurple;
}

input[type=submit]:focus,
.btn:focus {
  box-shadow: inset 0px 3px 0 rgba(0, 0, 0, .15);
  outline: none;
}


.searchform label {
	text-indent: -9999px;
}

#s {
  border: 1px solid #bbb;
  border-top-color: #aaa;
  border-right-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #444;
  height: 35px;
  padding: 0px 10px;
  width: 250px;
}

#s:focus {
  border-color: $darkPurple;
  border-right-color: transparent;
  outline: none;
}

.search-btn {
  background: transparent;
  border: 2px solid $darkPurple;
  border-bottom-right-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  color: $darkPurple;
  height: 35px;
  padding: 5px 25px;
  position: relative;
  left: -5px;
}

.search-btn:hover {
  border-color: $lightPurple;
  color: $lightPurple;
}

.search-btn:focus {
  box-shadow: inset 0px 3px 0 rgba(0, 0, 0, .15);
  outline: none;
}



/***********************************************
************ Media Queries
************************************************/

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 420px) {
  body {
    font-size: .9em;
  }
  .wrapper {
    width: 100%;
  }

  header {
    background: #7B0084;
  }

  #main.col-2-3 {
    float: none;
    overflow: hidden;
    width: 100%;
  }

  #sidebar.col-1-3 {
    float: none;
    width: 100%;
  }

  #main, #sidebar {
    border: 0;
    margin: 0;
    padding: 0 1em;
  }

  #logo {
    margin: 0;
  }

  #logo a {
    display: block;
    margin: 0;
    text-align: center;
  }

  #nav {
    border-radius: 0;
    padding: 0;
  }

  #nav li {
    display: block;
  }

  #nav li a {
    padding: 10px 0;
    text-align: center;
  }

  footer {
    padding: 10px 10px;
  }
}


/* Between smartphone and desktop ---------------*/
@media only screen
and (min-width : 421px)
and (max-width : 1023px) {

}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1024px) {

}


/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {

}
